{# Plantilla de la home del front de Enroporra #}
{% extends 'EnroporraBundle:Front:clasificacion.html.twig' %}

{% block titular_listado_participantes %}<h1 class='red'>Listado total de participantes</h1><br>{% endblock %}

{% block uso_listado_participantes %}
        <p>Aquí tienes un listado de todos los participantes de <b>Enroporra</b>. Selecciona a tus amigos y conocidos
	(o a los que quieras) y, recargando la página, podrás ver la clasificación solo con los nombres que tú hayas elegido.
	Esperamos que te sirva, y te recordamos que esta clasificación parcial que se publica en AMIGOS no sirve a la hora de
	repartir ningún premio, ya que para esto solo vale la <a href='/clasificacion'>clasificación general</a></p>
{% endblock %}

{% block listado_participantes %}
<table>
{% for participante in participantes %}
<tr><td><input type='checkbox' value='{{ participante.nick }}' onClick='amigar(this)' {{ participante.checked }}> {{ participante.nombre }}&nbsp;&nbsp;&nbsp;</td>
<td><div id='{{ participante.nick }}'></div></td></tr>
{% endfor %}
</table><br><br>
{% endblock %}

{% block javascript_listado_participantes %}
<script type='text/javascript'>
	function amigar(check) {

		var date = new Date();
		var time = date.getTime();

		var valor = (check.checked) ? 1:0;
		var nick = check.value;

		$.ajax({
			url: "/app_dev.php/amigos/set_listado/{{ id_competicion }}/"+nick+"/"+valor,
			//data: "t="+time,
			success: function(msg){
				if (valor) $("#"+nick).html("<font color='green'>OK Añadido a tus amigos. <a href='/amigos'>Recarga la página</a> para ver la clasificación</font>");
				else $("#"+nick).html("<font color='red'>OK Eliminado de tus amigos. <a href='/amigos'>Recarga la página</a> para ver la clasificación</font>");
      		}
      	});

	}
</script>
{% endblock %}